@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p style="font-size:14px;text-align:center">该文章已删除！</p>
    </div>
</body>
</html>
