<?xml version="1.0"?>
<EmailConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Host>smtp.dm.aliyun.com</Host>
  <Port>25</Port>
  <UserName>kingsdown@send.fichtech.com</UserName>
  <Password>rfv4tgb512</Password>
  <From>kingsdown@send.fichtech.com</From>
  <FromName>KingsDown中国官网</FromName>
  <SendFeedBackMail>1</SendFeedBackMail>
  <FeedBackMail>2285721@qq.com</FeedBackMail>
  <FeedBackTitle>来自{linkman}的加盟咨询</FeedBackTitle>
  <FeedBackBody>姓名:{linkman}&lt;br/&gt;时间：{addtime} &lt;br/&gt;手机：{tel} &lt;br/&gt;邮件：{email} &lt;br/&gt;意向地区：{tag} &lt;br/&gt;留言：{body}
  </FeedBackBody>
</EmailConfigInfo>