<?xml version="1.0" encoding="utf-8"?>
<RDBSConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--<RDBSConnectString>Data Source=218.28.141.90;User ID=sa;Password=ZZBZwgzx@;Initial Catalog=zzbztest;Pooling=true</RDBSConnectString>-->
    <RDBSConnectString>Data Source=192.168.18.106;User ID=sa;Password=@tiye123;Initial Catalog=Bonsit;Pooling=true</RDBSConnectString>
  <RDBSTablePre>bs_</RDBSTablePre>
  <RDBSType>SqlServer</RDBSType>
</RDBSConfigInfo>