<?xml version="1.0" encoding="utf-8"?>
<RouteConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <maps>
    <map name="victory" url="victory" controller="Article" action="Special">
      <parameters>
        <parames name="id" value="6" constraint="\d+" />
      </parameters>
    </map>
    <map name="old_disk" url="olddisk" controller="Article" action="Special">
      <parameters>
        <parames name="id" value="7" constraint="\d+" />
      </parameters>
    </map>
    <map name="musicbase" url="musicbase" controller="Article" action="Special">
      <parameters>
        <parames name="id" value="8" constraint="\d+" />
      </parameters>
    </map>
  </maps>
</RouteConfigInfo>