<?xml version="1.0"?>
<SiteConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SiteName>郑州市第八中学</SiteName>
  <SiteUrl>http://zzbz.net/</SiteUrl>
  <ImgUrl>upload/article/show/thumb225_155/</ImgUrl>
  <SiteTitle>郑州市第八中学</SiteTitle>
  <SEOKeyword />
  <SEODescription />
  <ICP>豫ICP22222</ICP>
  <Script />
  <IsLicensed>0</IsLicensed>
  <ShowSEO>0</ShowSEO>
  <RegType>123</RegType>
  <ReservedName>admin</ReservedName>
  <IsWebcomeMsg>1</IsWebcomeMsg>
  <WebcomeMsg>热烈欢迎</WebcomeMsg>
  <RegTimeSpan>0</RegTimeSpan>
  <LoginType>123</LoginType>
  <ShadowName>myname</ShadowName>
  <IsRemember>1</IsRemember>
  <LoginFailTimes>0</LoginFailTimes>
  <UploadImgType>.jpg,.jpeg,.png,.gif@.flash,.mp4,.flv</UploadImgType>
  <UploadVideoType />
  <UploadImgSize>10240000</UploadImgSize>
  <UploadVideoSize>10</UploadVideoSize>
  <UploadAttType>.txt,.rar,.zip,.xls,.xlsx,.doc,.docx,.ppt,.pptx,.pdf,.mp3,.mp4</UploadAttType>
  <UploadAttSize>102400000</UploadAttSize>
  <WatermarkType>0</WatermarkType>
  <WatermarkQuality>100</WatermarkQuality>
  <WatermarkPosition>9</WatermarkPosition>
  <WatermarkImg>watermark.png</WatermarkImg>
  <WatermarkImgOpacity>5</WatermarkImgOpacity>
  <WatermarkText>BrnShop</WatermarkText>
  <WatermarkTextFont>微软雅黑</WatermarkTextFont>
  <WatermarkTextSize>12</WatermarkTextSize>
  <ArticleImgThumbSize>640_480,188_138,225_155,136_100</ArticleImgThumbSize>
  <FriendLinkThumbSize>88_31,150_120</FriendLinkThumbSize>
  <ArticleClassThumbSize>88_31,150_120</ArticleClassThumbSize>
  <SpecialImgThumbSize>200_160</SpecialImgThumbSize>
  <UserAvatarThumbSize>10_10,30_30,50_50</UserAvatarThumbSize>
  <UserRankAvatarThumbSize>10_10,30_30,50_50</UserRankAvatarThumbSize>
  <pageSize>10</pageSize>
  <wzAdmin>1</wzAdmin>
  <wxAdmin>3</wxAdmin>
  <dzbpAdmin>24</dzbpAdmin>
  <appid>iszjbchn6oJXva6JGZ</appid>
  <Contributor>4</Contributor>
  <wxbj>25</wxbj>
  <ImageCDN />
  <CSSCDN />
  <ScriptCDN />
  <OnlineUserExpire>8</OnlineUserExpire>
  <MaxOnlineCount>10000</MaxOnlineCount>
  <OnlineCountExpire>0</OnlineCountExpire>
  <UpdateOnlineTimeSpan>2</UpdateOnlineTimeSpan>
  <UpdatePVStatTimespan>3</UpdatePVStatTimespan>
  <IsStatBrowser>1</IsStatBrowser>
  <IsStatOS>1</IsStatOS>
  <IsStatRegion>1</IsStatRegion>
  <IsClosed>0</IsClosed>
  <CloseReason />
  <BanAccessTime />
  <BanAccessIP />
  <AllowAccessIP />
  <AdminAllowAccessIP />
  <SecretKey>12345678</SecretKey>
  <CookieDomain />
  <RandomLibrary>123456789abcdefghjkmnpqrstuvwxy</RandomLibrary>
  <VerifyPages>/account/login,/account/register,/account/findpwd</VerifyPages>
  <OnlineImage>/upload/downloadImg/</OnlineImage>
  <ftpIp>192.168.18.106:9010</ftpIp>
  <ftpUser>ftp</ftpUser>
  <ftpPwd>ftp</ftpPwd>
  <IgnoreWords />
  <AllowEmailProvider />
  <BanEmailProvider />
</SiteConfigInfo>