@charset "utf-8";
/*样式的重置*/
body,ul,li,p,h1,h2,h3,h4,h5,h6,img,button,span,dl,dt,dd{
    margin: 0;
    padding: 0;
}
input{
    border: none;
}
em,i{ font-style: normal !important; }
img{
    border:none;
}
ul,li,dl,dt,dd,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover { text-decoration: underline; }
/*a:focus{outline:none;}*/
/*a:hover { text-decoration: none;color:#000; }*/

.clear{clear: both;}
