@charset "utf-8";

body,dl,dt,dd,ul,li {
	margin: 0px;
	padding: 0px;
	list-style:none;
}
body {
    background-color:#ffffff;
}
.cl {
	clear: both;
}
.top15 {
	margin-top: 20px;
    margin-left:20px;
}
.top5 {
	margin-top: 5px;
}

.main {
	/*max-width:1000px;*/
    margin-right:10px;
  
}


.nav {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #1AA094;
	padding:0 25px;
	font-size: 14px;
	line-height: 30px;
    overflow:hidden;
}




.nav a {
	color:#009688;
	text-decoration: none;
}

.btnbar {
    margin-top:10px;
    font-size:12px;
}

.btnbar span {
    float:right;
    font-size:12px;
    line-height:30px;
    }
.submenu {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
	height: 40px;
	margin-top: 30px;
    margin-left:20px;
}
.submenu li {
	float: left;
    height: 40px;
    overflow:hidden;
    line-height: 40px;
    display: block;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: #DDD;
    border-right-color: #DDD;
    border-left-color: #DDD;
    margin-right: 10px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    -webkit-border-top-left-radius:8px;
    -webkit-border-top-right-radius:8px;
    
}
.submenu li a {
    color:#363636;
	display: block;
	padding-right: 30px;
	padding-left: 30px;
	font-size: 14px;
	text-decoration: none;
}
/*.submenu li a:hover {
	background-color: #F1F8F5;
}*/
.submenu .sel a {
	background-color: #1AA094;
    color:#FFFFFF;
	cursor:default;
}

.tbstyle1 {
	font-size: 14px;
	line-height: 20px;
	background-color: #DDD;
}
.tbstyle1 a{
    display:inline-block;
    padding:5px 8px;
    background-color:#FF5722;
    text-decoration:none;
    color:#FFFFFF;
    border-radius:5px;
    -webkit-border-radius:5px;
}
.tbstyle1 td {
	background-color: #FFF;
}
.tbstyle1 tr th {
	background-color: #f2f2f2;
	text-align: right;
    font-weight:normal;
}


.tblist {
	font-size: 12px;
    font-weight：normal;
}
 .tblist tr:nth-of-type(2n+1) {
     background:#f1f1f1;

    }
.tblist td {
    border-bottom:solid 1px #DDD;
    line-height: 40px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.tblist tr th {
    font-size: 14px;
	line-height: 40px;
    background-color: #F2F2F2;
    border-bottom:solid 1px #DDD;
    font-weight:normal;
}
.tblist td a{
   color:#009688;
   text-decoration:none;

}
.tblist td .deleteOperate{
    color:#FF6839;
    /*border-left:1px #363636 solid;*/
    padding-left:5px;
}

.tblist tr:hover{
    background-color: #eee;
    
}
.tbstyle1 td input {
    padding:5px 0;
    font-size:14px;
}
#btnCheckAll, #btnSubmit {
    padding:6px 12px;
    display:inline-block;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid transparent;
}



.pagelist
{
    text-align:center;
    padding:10px;
	font-size:12px;
    }
.pagelist a {
	text-decoration: none;
	padding: 5px;
	color: #0A246A;
	font-weight: normal;
	margin-left:5px;
	font-size:12px;
}
.pagelist a:hover {
	color: #FFFFFF;
	background-color: #0A246A;
}
.pagelist .sel {
	color: #FFFFFF;
	background-color: #0A246A;
	font-weight: bold;
}
.homerpart {
	float: right;
	width: 220px;
}
.homerpart dl {
	border: 1px solid #DDD;
}
.homerpart dl dt {
	background-color: #F6F6F6;
	font-size: 12px;
	line-height: 30px;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
}
.homerpart dl dd {
	padding: 10px;
}

.homemain {
	margin-right: 240px;
}
.newslist {
	padding-top: 15px;
}
.newslist li {
	font-size: 14px;
	line-height: 30px;
	background-image: url(../Images/dot.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 20px;
}
.newslist li a {
	color: #333;
	text-decoration: none;
}
.newslist .date {
	float: right;
	font-size: 12px;
	color: #036;
}
.icolist li {
	display: block;
	float: left;
	background-image: url(../Images/s1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 30px;
	width: 63px;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
}
.icolist li a {
	color: #333;
	text-decoration: none;
}

.listtop {
    font-weight:bold;
    font-size:14px;
}

.nohave {
    font-size:14px;
    line-height:100px;
    text-align:center;
}

.footer {
    font-size:14px;
    line-height:25px;
    text-align:center;
    padding-top:15px;
}



.productclass {
    padding: 20px;
}
.productclass ul {
    padding: 10px 0px;
}
.productclass a {
    
    font-size:14px;
    line-height:180%;
	color: #06C;
	text-decoration: none;
}
/*报警颜色*/
.field-validation-error{
    color:#eb2222;
}