<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="utensil" type="System.Configuration.ClientSettingsSection" />
  </configSections>
  <connectionStrings>
    <add name="strCon" connectionString="Data Source=.;database=JAAJ;uid=sa;pwd=jakj1!;" />
  </connectionStrings>
  <appSettings>
    <add key="sceneDir" value="F:\anjian_02_22\Release" />
    <add key="COM" value="COM2" />
    <add key="UHFCOM" value="3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <utensil>
    <add key="E20051799819006825800FC7" value="WeldingWorkClothes" />
    <add key="E2002076990D007022302F97" value="WeldingProtectiveShoes" />
    <add key="E2002076990D0070218030EA" value="LongSleeveLeatherGloves" />
    <add key="E2002076990D0070217030E9" value="HandGeldWeldingMask" />
    <add key="E2002076990D007022202F96" value="SelfSuctionTypeRespirator" />
    <add key="E2002076990D0070220030EC" value="ShortSleevedSheepskinGloves" />
    <add key="E2002076990D0070219030EB" value="HeadMountedAutomaticLightChangingFaceMask" />
  </utensil>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>