<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="utensil" type="System.Configuration.DictionarySectionHandler"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Welding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings >
    <add name="strCon" connectionString="Data Source=.;database=JTSSBasic;User ID=sa;Password=jakj1!;"/>
  </connectionStrings>

  <appSettings>
    <add key="sceneDir" value="F:\anjian_02_22\Release"/>
    <add key="COM" value="COM2"/>
    <add key="UHFCOM" value="4"/>
  </appSettings>
  
  <utensil>
    <add key="E2002076990D007021603748" value="WeldingWorkClothes"/>
    <add key="E2002076990D007022302F97" value="WeldingProtectiveShoes"/>
    <add key="E2002076990D0070218030EA" value="LongSleeveLeatherGloves"/>
    <add key="E2002076990D0070217030E9" value="HandGeldWeldingMask"/>
    <add key="E2002076990D007022202F96" value="SelfSuctionTypeRespirator"/>
    <add key="E2002076990D0070220030EC" value="ShortSleevedSheepskinGloves"/>
    <add key="E2002076990D0070219030EB" value="HeadMountedAutomaticLightChangingFaceMask"/>
  </utensil>
  
  <userSettings>
    <Welding.Properties.Settings>
      <setting name="Utensil1" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>WeldingWorkClothes</string>
            <string>WeldingProtectiveShoes</string>
            <string>LongSleeveLeatherGloves</string>
            <string>HandGeldWeldingMask</string>
            <string>SelfSuctionTypeRespirator</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Utensil2" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>WeldingWorkClothes</string>
            <string>WeldingProtectiveShoes</string>
            <string>LongSleeveLeatherGloves</string>
            <string>HandGeldWeldingMask</string>
            <string>SelfSuctionTypeRespirator</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Utensil3" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>WeldingWorkClothes</string>
            <string>WeldingProtectiveShoes</string>
            <string>ShortSleevedSheepskinGloves</string>
            <string>HeadMountedAutomaticLightChangingFaceMask</string>
            <string>SelfSuctionTypeRespirator</string>
          </ArrayOfString>
        </value>
      </setting>
    </Welding.Properties.Settings>
  </userSettings>
</configuration>