<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iservice" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFirstService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_Iservice" />
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IFirstService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.0.40.246:8006/Service1" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Iservice" contract="Service2.Iservice"
                name="BasicHttpBinding_Iservice" />
            <endpoint address="net.tcp://10.0.40.246:8007/Service1" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_Iservice" contract="Service2.Iservice"
                name="NetTcpBinding_Iservice">
                <identity>
                    <userPrincipalName value="UnityDev-PC\Administrator" />
                </identity>
            </endpoint>
            <endpoint address="http://10.0.40.246:8005/Service1" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IFirstService" contract="Service1.IFirstService"
                name="WSDualHttpBinding_IFirstService">
                <identity>
                    <userPrincipalName value="UnityDev-PC\Administrator" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://10.0.40.246:8004/Service1" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFirstService" contract="Service1.IFirstService"
                name="NetTcpBinding_IFirstService" />
        </client>
    </system.serviceModel>
</configuration>