@{
    ViewBag.Title = "修改";
}
@section header{
    
    <script type="text/javascript" src="/administration/scripts/utils.js"></script>
    <script src="/administration/scripts/users.js" type="text/javascript"></script>
    }
@section body{
<div class="main">
        <div class="nav">当前位置：<a href="@Url.Action("SiteRunInfo","Home")">管理后台</a>
    
    <span> &rsaquo; </span> 修改密码
</div>
        <ul class="submenu">
        	<li class="sel"><a href="#">修改密码</a></li>
        </ul>

       <form name="updatepasswordform" action="">
           <div class="top15">
        <table width="100%" class="tbstyle1" cellpadding="5" cellspacing="1">
            <tr>
                <th style="width:80px;">用户名：</th>
                <td>@WorkContext.UserName</td>
            </tr>
            <tr>
                <th>原密码：</th>
                <td><input type="password" name="oldpassword" value="" /></td>
            </tr>
            <tr>
                <th>新密码：</th>
                <td><input type="password" name="newpassword" value="" /></td>
            </tr>
            <tr>
                <th>密码重复：</th>
                <td><input type="password" name="newpassword1" value="" /></td>
            </tr>
            
            <tr>
                <th></th>
                <td><input type="button" value="提交" onclick="javascript:updatePassword()"  /></td>
            </tr>
        </table>

           </div>
       
</div>
}

